<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registered</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/login_registered_page_style.css">
    <script src="/js/ajax.js"></script>
    <script>
        window.onload = function () {
            var username = document.getElementById('username');
            var password = document.getElementById('password');
            var btn_add_user = document.getElementById('btn_add_user');
            username.focus();
            btn_add_user.onclick = function() {
                console.log(username.value+'\n'+password.value);
                if (username.value === '' || password.value === '') {
                    alert('用户名和密码不能为空');
                } else {
                    ajax({
                        url:'/admin/admin_user/add_user',
                        data:{type:'registered',username:username.value,password:password.value},
                        type:'post',
                        success:function (str) {
                            var json = eval('('+str+')');
                            if (json.ok) {
                                window.location.href = '/admin/admin_user';
                            } else {
                                alert('注册失败, '+json.massage);
                            }
                        },
                        error:function () {
                            alert('通信失败');
                        }
                    });
                }
            };
        }
    </script>
</head>
<body>
<div class="logo_img">
    <img src="/images/logo_registered.png" alt="">
</div>

<div id="login_bkg">

    <div class="input">
        用户名:</br>
        <input id="username" type="text" size="20">
    </div>

    <div class="input">
        密码:</br>
        <input id="password" type="password" size="20">
    </div>

    <div class="btn_home">
        <div  class="go-back-home">
            不想注册了？<a href="/admin/admin_user">返回</a>
        </div>
        <input id="btn_add_user" class="btn" type="button" value="注册">
    </div>
</div>
</body>
</html>