<div class="title-bar">
    <a class="go-back-home" href="../../">返回站点首页</a>

    <span class="login-status">
        <div class="user-avatar">
            <img src="/images/user_avatar.png" alt="">
        </div>hi,<%=user_status[0].username%><a href="../admin/logout" id="logout">退出</a>
    </span>
</div>

<ul class="navigation-bar">
    <li>
        <a href="admin_home" class="navigationItem">
            <img src="/images/dash_board.png" alt="">仪表盘
        </a>
    </li>
    <li>
        <a href="admin_article" class="navigationItem">
            <img src="/images/dash_board.png" alt="">文章
        </a>
    </li>
    <li>
        <a href="admin_user" class="navigationItem">
            <img src="/images/dash_board.png" alt="">用户
        </a>
    </li>
</ul>