<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_homepage</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/admin_homepage_style.css">

</head>
<body>

<% include components/admin_public.ejs%>

<div class="admin-body">
    <h2>仪表盘</h2>
    <h4>已成功登入SURA'S BLOG管理后台</h4>
</div>

</body>
</html>