<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/login_registered_page_style.css">
    <script src="/js/ajax.js"></script>
    <script>
        window.onload = function () {
            const btn_login = document.getElementById("btn_login");
            var username = document.getElementById("username");
            var password = document.getElementById("password");
            var user_id = document.getElementById('user_id');
            password.focus();
            btn_login.onclick = function () {
                if (password.value === '') {
                    alert('密码不能修改为空');
                } else {
                    ajax({
                        url:'/admin/admin_user/update_password',
                        data:{
                            type:'update_password',
                            user_id:user_id.value,
                            password:password.value
                        },
                        type:'post',
                        success:function (str) {
                            var json = eval('('+str+')');
                            if (json.ok) {
                                window.location.href='/admin/admin_user';
                            } else {
                                alert('登陆失败：'+json.massage);
                            }
                        },
                        error:function () {
                            alert('通信失败');
                        }
                    })
                }
            };
        };
    </script>
</head>
<body>
    <div class="logo_img">
        <img src="/images/update_password_img.png" alt="">
    </div>

    <div id="login_bkg">

        <input type="hidden" id="user_id" value="<%=user_massage[0].user_id%>">

        <div class="input">
            用户名:</br>
            <input id="username" value="<%=user_massage[0].username%>" type="text" size="20" readonly>
        </div>

        <div class="input">
            密码:</br>
            <input id="password" type="password" size="20">
        </div>

        <div class="btn_home">
            <div  class="go-back-home">
                不想修改了？<a href="/admin/admin_user">返回</a>
            </div>
            <input id="btn_login" class="btn" type="button" value="提交">
        </div>
    </div>
</body>
</html>