body{
    background: url("/images/input_update_article_bkg.png");
}

.add-article-title-img{
    display: block;
    width: 30%;
    margin: 0 auto;
}

.content{
    width: 75%;
    margin: 5px auto;
    background-color: #a7dbd8;
    padding: 0.2rem;
    text-align: center;
}

.input{
    font: 2em '宋体',Consolas;
}

.article-title-box{
    text-align: center;
    margin: 1.3rem 0;
}

.article-title{
    width: 69%;
    font: 0.9em '宋体',Consolas;
}

.article-body{
    width: 78%;
    height: 30rem;
    display: block;
    font: 0.6em '宋体',Consolas;
    margin: 0.3rem auto;
}

.btn-go-back,.btn-submit{
    width: 30%;
    height: 3em;
    margin-bottom: 1.2em;
    cursor: pointer;
}