.article_massage{
    width: 60rem;
    display: block;
}

.article_massage thead{
    font: 1.5em 'Consolas';
}

.article_massage td{
    padding: 8px;
    text-align: center;
}

.article_massage td,tr{
    border: 2px solid #1c1c1c;
}

.add_article{
    margin-top: 40px;
    width: 25rem;
}

.add_article a{
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: #a7dbd8;
    transition: 0.3s background-color;
    color: #0000de;
}

.add_article a:hover{
    background-color: #77bbb8;
    color: #0000de;
}

.add_article a:link{
    color: #0000de;
}

.add_article a:visited{
    color: #0000de;
}