.admin-body table{
    display: block;
    margin-bottom: 3rem;
}

thead td{
    font: bold 16px '宋体',Consolas;
}

td{
    text-align: center;
    font: 14px '宋体',Consolas;
    padding: 5px 12px;
    border: 2px solid #1c1c1c;
}

.table-title td{
    font-size: 20px;
}

.add-user{
    text-align: left;
}

.add-user a{
    text-decoration: none;
    padding: 1em 8em;
    background-color: #a7dbd8;
    transition: background-color 0.3s;
}

.add-user a:hover{
    background-color: #77bbb8;
}